$white: #FFF;
$borderLightGray: #eaeaee;
$errorOrange: #f8b376;
$fontGray: #abb2b8; //farba placeholderov velkych, farba neaktivneho progressu,
$borderGray: #c1c7cc; //okraj inputov, oddelujuca ciara v progresse
$fontDark: #344148; //farba textu v inpute, placeholdera v spravne vyplnenom inpute, aktivny progress
$green: #53bf85;
$red: #f52f55;
$background: #f4f4f6;
$grad1: #fb6f5f;
$grad2: #f52f55;
$dlazdicaDisabledBg: #f8f8fa;
$footerLightFont: #e5e5ea;
$headerPriceZero: #dbdee1;
$inputDisabledFont: #aaa;
$inputDisabledBorder: #e9e9e9;
$packageShadow: #ececec;
$selectListBorder: #ccc;
$selectItemFocus: #ddd;
$selectItemSelected: #eee;
$selectItemDisabled: #bbb;